In [17]:
%matplotlib inline

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [18]:
import tensorflow as tf

In [19]:
from sklearn import metrics
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split


from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score

from sklearn.metrics import mean_absolute_error

In [20]:
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten



import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)

In [22]:
df1 = pd.read_csv("ILI_Weekly_National_Avg.csv")
# df1.fillna(value = -99999, inplace=True)

df1.head()

,WEEK,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,week_1,NaN,3.59225,1.82390,5.15025,3.22880,1.94142,1.90428,2.41833,2.17645,...,1.98284,2.69151,1.76709,4.96368,4.21120,4.07898,1.98859,3.08102,5.35765,3.63102
1,week_2,NaN,3.68922,2.54354,3.90316,3.11951,1.67397,1.59010,1.80906,2.20171,...,1.82749,2.91063,1.54340,4.69072,3.46492,3.93762,1.98985,3.01875,5.52437,3.16293
2,week_3,NaN,4.60396,3.61581,2.91178,3.80424,2.06831,1.81559,1.71202,2.53012,...,1.92606,3.49232,1.64762,4.70473,3.31698,4.15076,2.10710,3.40446,6.34528,3.36599
3,week_4,NaN,4.91007,4.07912,2.15670,4.18681,2.87301,2.41801,1.54250,3.06524,...,1.92495,4.00370,1.68430,4.16460,3.24070,3.87899,2.19256,3.52869,7.01811,3.89212
4,week_5,NaN,4.82687,5.07760,1.81295,3.98650,2.94909,2.86635,1.43787,3.98061,...,2.08877,4.43534,1.86354,3.69533,2.88598,3.45794,2.30014,4.10665,7.78090,4.53558