In [1]:
%matplotlib inline

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
from sklearn.decomposition import PCA, TruncatedSVD
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import scale

from sklearn.model_selection import train_test_split
from sklearn import decomposition
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor

import seaborn as sns
np.random.seed(0)

In [3]:
df1 = pd.read_csv("ILI_Weekly_State_Avg.csv")
df1.head(2)

,REGION,week_1,week_2,week_3,week_4,week_5,week_6,week_7,week_8,week_9,...,week_44,week_45,week_46,week_47,week_48,week_49,week_50,week_51,week_52,week_53
0,Alabama,6.370629,6.964126,7.661381,7.435979,7.277602,7.068386,6.256861,5.470849,4.960846,...,2.579153,2.825046,3.13950,3.914537,3.930459,4.669928,6.318017,7.920726,8.795278,11.22120
1,Alaska,1.766894,2.010301,1.993347,1.771273,2.355049,2.244505,2.589673,2.190691,2.589630,...,1.306854,1.565698,1.54435,1.562975,1.568266,1.510352,1.671861,2.022891,2.556303,2.36626

In [4]:
df1 = df1.set_index(["REGION"])
df1.head()

,week_1,week_2,week_3,week_4,week_5,week_6,week_7,week_8,week_9,week_10,...,week_44,week_45,week_46,week_47,week_48,week_49,week_50,week_51,week_52,week_53
REGION,,,,,,,,,,,,,,,,,,,,,
Alabama,6.370629,6.964126,7.661381,7.435979,7.277602,7.068386,6.256861,5.470849,4.960846,4.755156,...,2.579153,2.825046,3.139500,3.914537,3.930459,4.669928,6.318017,7.920726,8.795278,11.22120
Alaska,1.766894,2.010301,1.993347,1.771273,2.355049,2.244505,2.589673,2.190691,2.589630,2.373729,...,1.306854,1.565698,1.544350,1.562975,1.568266,1.510352,1.671861,2.022891,2.556303,2.36626
Arizona,2.901751,2.649474,3.168582,3.214370,3.087903,3.170538,3.146787,3.004246,2.715038,2.384350,...,1.448226,1.354446,1.500060,1.573424,1.793631,1.921139,2.279462,2.662839,3.080307,2.65764
Arkansas,4.281816,5.101146,5.373053,5.374030,5.660437,5.830056,5.198441,4.212520,4.008509,3.508576,...,1.356330,1.400975,1.593388,1.724070,1.823856,1.993462,2.662367,4.364511,5.286013,5.00131
California,4.028955,3.694313,3.826214,4.235409,4.227718,3.986936,3.882070,3.714905,3.474365,3.315829,...,2.043682,2.146360,2.273906,2.429978,2.276381,2.456101,2.832426,3.457791,4.553783,4.77128

In [44]:
model_df = df1.transpose()
model_df.head()

REGION,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
week_1,6.370629,1.766894,2.901751,4.281816,4.028955,2.049578,2.400804,1.338100,8.171689,0.0,...,3.969515,6.643214,3.047853,2.637425,0.973884,3.916841,2.437575,2.978248,2.291341,2.536921
week_2,6.964126,2.010301,2.649474,5.101146,3.694313,1.889047,2.642843,1.960417,7.175295,0.0,...,3.498934,6.588232,3.076584,2.806096,1.812476,3.847870,2.230000,3.000258,2.320207,2.931094
week_3,7.661381,1.993347,3.168582,5.373053,3.826214,2.030161,3.068027,1.922858,5.408062,0.0,...,3.983725,6.280990,3.061443,3.087066,1.368254,4.051611,2.386326,3.554352,2.441097,3.061053
week_4,7.435979,1.771273,3.214370,5.374030,4.235409,2.077329,3.096562,2.073742,6.251099,0.0,...,3.423732,6.585958,2.699426,3.467884,1.038626,3.918004,2.376008,3.601549,2.555305,3.223649
week_5,7.277602,2.355049,3.087903,5.660437,4.227718,2.236662,3.470586,1.787819,6.358745,0.0,...,3.787902,6.587402,2.761200,3.562659,1.261181,4.212277,2.098945,3.113282,2.564747,3.237445

In [45]:
# week_avg = 
model_df = model_df.assign(wkly_average = model_df.mean(axis=1))
model_df.head()

REGION,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming,wkly_average
week_1,6.370629,1.766894,2.901751,4.281816,4.028955,2.049578,2.400804,1.338100,8.171689,0.0,...,6.643214,3.047853,2.637425,0.973884,3.916841,2.437575,2.978248,2.291341,2.536921,3.158814
week_2,6.964126,2.010301,2.649474,5.101146,3.694313,1.889047,2.642843,1.960417,7.175295,0.0,...,6.588232,3.076584,2.806096,1.812476,3.847870,2.230000,3.000258,2.320207,2.931094,3.178357
week_3,7.661381,1.993347,3.168582,5.373053,3.826214,2.030161,3.068027,1.922858,5.408062,0.0,...,6.280990,3.061443,3.087066,1.368254,4.051611,2.386326,3.554352,2.441097,3.061053,3.365329
week_4,7.435979,1.771273,3.214370,5.374030,4.235409,2.077329,3.096562,2.073742,6.251099,0.0,...,6.585958,2.699426,3.467884,1.038626,3.918004,2.376008,3.601549,2.555305,3.223649,3.494002
week_5,7.277602,2.355049,3.087903,5.660437,4.227718,2.236662,3.470586,1.787819,6.358745,0.0,...,6.587402,2.761200,3.562659,1.261181,4.212277,2.098945,3.113282,2.564747,3.237445,3.592249

In [46]:
X = model_df.values
y = np.array(model_df["wkly_average"])
X.shape, y.shape

((34, 55), (34,))

In [47]:
# Set up a train-test split, for now we'll do it randomly
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 25) # 20% hold for testing

In [48]:
rreg = RandomForestRegressor(max_depth = 2, random_state = 0)

In [49]:
rreg.fit(X_train, y_train)

C:\Users\emame\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [50]:
# RF predictors variable importance
print(rreg.feature_importances_)

[0.         0.         0.00317211 0.         0.         0.
 0.17907335 0.15786166 0.         0.         0.         0.
 0.         0.         0.01015396 0.         0.         0.00362766
 0.         0.07484952 0.09720377 0.00323102 0.         0.01815554
 0.         0.         0.         0.         0.01974167 0.
 0.00370705 0.08464758 0.00518015 0.         0.         0.
 0.         0.         0.         0.00529208 0.         0.
 0.         0.         0.         0.         0.03562792 0.00609991
 0.         0.01433614 0.02054399 0.07492252 0.09075187 0.09182053
 0.        ]

In [52]:
# store most important variavles under importances
importances = rreg.feature_importances_

In [53]:
# sort imprtant varibles and sotre them under indices
indices = np.argsort(importances)[::-1]
for f in range(X.shape[1]):
    print("%d. feature %d (%f)" % (f +1, indices[f], importances[indices[f]]))

1. feature 6 (0.179073)
2. feature 7 (0.157862)
3. feature 20 (0.097204)
4. feature 53 (0.091821)
5. feature 52 (0.090752)
6. feature 31 (0.084648)
7. feature 51 (0.074923)
8. feature 19 (0.074850)
9. feature 46 (0.035628)
10. feature 50 (0.020544)
11. feature 28 (0.019742)
12. feature 23 (0.018156)
13. feature 49 (0.014336)
14. feature 14 (0.010154)
15. feature 47 (0.006100)
16. feature 39 (0.005292)
17. feature 32 (0.005180)
18. feature 30 (0.003707)
19. feature 17 (0.003628)
20. feature 21 (0.003231)
21. feature 2 (0.003172)
22. feature 15 (0.000000)
23. feature 16 (0.000000)
24. feature 18 (0.000000)
25. feature 54 (0.000000)
26. feature 13 (0.000000)
27. feature 12 (0.000000)
28. feature 11 (0.000000)
29. feature 10 (0.000000)
30. feature 8 (0.000000)
31. feature 5 (0.000000)
32. feature 4 (0.000000)
33. feature 3 (0.000000)
34. feature 1 (0.000000)
35. feature 9 (0.000000)
36. feature 27 (0.000000)
37. feature 22 (0.000000)
38. feature 38 (0.000000)
39. feature 48 (0.000000)
40. feature 45 (0.000000)
41. feature 44 (0.000000)
42. feature 43 (0.000000)
43. feature 42 (0.000000)
44. feature 41 (0.000000)
45. feature 40 (0.000000)
46. feature 37 (0.000000)
47. feature 24 (0.000000)
48. feature 36 (0.000000)
49. feature 35 (0.000000)
50. feature 34 (0.000000)
51. feature 33 (0.000000)
52. feature 29 (0.000000)
53. feature 26 (0.000000)
54. feature 25 (0.000000)
55. feature 0 (0.000000)

In [33]:
y_pred = rreg.predict(X_test)

In [34]:
y_pred

array([1.39853082, 1.8208024 , 1.88596586, 1.31319119, 1.38879737,
       2.95406823, 2.4065676 ])

In [35]:
from sklearn.metrics import mean_squared_error

In [36]:
mean_squared_error(y_test, y_pred)

0.06641925849902307

In [37]:
from sklearn.metrics import r2_score

In [38]:
r2_score(y_test, y_pred)

0.4697540700113094

In [39]:
print("R-squared for Train: %.2f" %rreg.score(X_train, y_train)) 
print("R-squared for Test: %.2f" %rreg.score(X_test, y_test))

R-squared for Train: 0.95
R-squared for Test: 0.47