In [5]:
%matplotlib inline

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [6]:
from sklearn.decomposition import PCA, TruncatedSVD
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import scale

from sklearn.model_selection import train_test_split
from sklearn import decomposition
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier

import seaborn as sns

In [7]:
df = pd.read_csv("ILINet.csv")

# df = df.drop(columns=["REGION TYPE", "AGE 0-4", "AGE 25-49", "AGE 25-64" ,"AGE 5-24" ,"AGE 50-64", "AGE 65"])
# Drop the null columns where all values are null
# df = df.dropna(axis='columns', how='all')
# Drop the null rows
# df = df.dropna()
df.head()

,REGION TYPE,REGION,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
0,States,Alabama,2010,40,X,2.13477,X,X,X,X,X,X,249,35,11664
1,States,Alaska,2010,40,X,0.875146,X,X,X,X,X,X,15,7,1714
2,States,Arizona,2010,40,X,0.674721,X,X,X,X,X,X,172,49,25492
3,States,Arkansas,2010,40,X,0.696056,X,X,X,X,X,X,18,15,2586
4,States,California,2010,40,X,1.95412,X,X,X,X,X,X,632,112,32342